[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
retry = "*"
beautifulsoup4 = "*"
requests = "*"
keras = "*"
pyyaml = "*"
tensorflow = "*"

[dev-packages]
mypy = "*"
flake8 = "*"
types-requests = "*"
types-retry = "*"
types-beautifulsoup4 = "*"

[requires]
python_version = "3.8"
