[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# progress bar
tqdm = "*"
# resilient http calls in scraper
retry = "*"
# scraper html parser
beautifulsoup4 = "*"
# http scraper
requests = "*"
# ML model abstraction layer
keras = "*"
# Config loader
"ruamel.yaml" = "*"
# ML model backend
# Due to bug https://github.com/tensorflow/tensorflow/issues/39906 other versions may not work
tensorflow = "==2.8.0"
# Image metadata
pandas = "*"
# Run-time image loading
pillow = "*"
# Run-time image augmentation
scipy = "*"

[dev-packages]
# Style checker
flake8 = "*"
# Type checker
mypy = "*"
# Typedefs for requests package
types-requests = "*"
# Typedefs for retry package
types-retry = "*"
# Typedefs for bs4 package
types-beautifulsoup4 = "*"
# Linter for yaml files
yamllint = "*"
# For integration testing model output
numpy = "*"

[requires]
python_version = "3.9"
